<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebMetaWave</title>
  <link rel="stylesheet" th:href="@{/style/Windows.css}">
  <link rel="stylesheet" th:href="@{/style/ProfileWindow.css}">
</head>
<body>
<div class="container">
  <div class="head">
    <div class="head-center-area">
      <button class="back-btn" th:onclick="|window.location.href='@{/profile}';|">
        <img class="button-icon" th:src="@{/images/icons/fa-solid_arrow-up.svg}" alt="back">
      </button>

      <h1 class="userNumber">All Txns</h1>
    </div>
  </div>

  <div class="main-info-container">

    <div class="tokens-list">
      <div class="token">
        <span class="token-name">From</span>
        <span class="token-name">To</span>
        <span class="token-name">AmountFrom</span>
        <span class="token-name">AmountTo</span>
        <span class="token-name">Status/Date</span>
      </div>

      <div class="token" th:each="txn : ${txns}">
        <div>
          <span class="token-name" th:text="${txn.userFrom.walletNumber.substring(0, 3)} + '...' + ${txn.userFrom.walletNumber.substring(txn.userFrom.walletNumber.length() - 3)}"></span>
          <br>
          <span class="token-value" th:text="${txn.tokenFrom.tokenSymbol}"></span>
        </div>
        <div>
          <span class="token-name" th:text="${txn.userTo.walletNumber.substring(0, 3)} + '...' + ${txn.userTo.walletNumber.substring(txn.userTo.walletNumber.length() - 3)}"></span>
          <br>
          <span class="token-value" th:text="${txn.tokenTo.tokenSymbol}"></span>
        </div>
        <span class="token-name" th:text="${txn.amountFrom}"></span>
        <span class="token-name" th:text="${txn.amountTo}"></span>
        <div>
          <span class="token-value" th:text="${txn.status}"></span>
          <br>
          <span class="token-name" th:text="${txn.date}"></span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
