<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebMetaWave</title>
    <link rel="stylesheet" th:href="@{/style/Windows.css}">
    <link rel="stylesheet" th:href="@{/style/LoginWindow.css}">
</head>
<body>
<div class="container">
    <h1 class="LableText">Enter the code from your email</h1>

    <p class="error-message" th:if="${errorCode}">Wrong code!</p>

    <form th:action="@{/code}" method="POST">
        <input type="hidden" name="email" th:value="${email}">
        <input type="hidden" name="password" th:value="${password}">
        <input type="hidden" name="trueCode" th:value="${trueCode}">
        <input type="text" id="code" name="inputCode" placeholder="CODE">
        <button type="submit" class="neumorphic-button">CHECK</button>
    </form>

    <form th:action="@{/resendCode}" method="POST">
        <input type="hidden" name="email" th:value="${email}">
        <input type="hidden" name="password" th:value="${password}">
        <input type="hidden" name="trueCode" th:value="${trueCode}">
        <button type="submit" class="register">Send Again</button>
    </form>

    <a class="register" th:href="@{/register}">Back</a>
</div>
</body>
</html>
