<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit News - WebMetaWave</title>
  <link rel="stylesheet" th:href="@{/style/Windows.css}">
  <link rel="stylesheet" th:href="@{/style/NewsWindow.css}">
</head>
<body>
<div class="container">
  <div class="head">
    <div class="head-center-area">
      <button class="back-btn" th:onclick="|window.location.href='@{/notifications/{id}(id=${notification.id})}';|">
        <img class="button-icon" th:src="@{/images/icons/fa-solid_arrow-up.svg}" alt="back">
      </button>
      <h1 class="userNumber">Edit News</h1>
    </div>
  </div>

  <form th:action="@{/updateNotification}" method="POST">
    <div class="main-info-container">
      <input type="hidden" name="id" th:value="${notification.id}">

      <input type="text" class="input-title" name="title"
             placeholder="Title" th:value="${notification.title}" required>

      <textarea class="input-content" name="content"
                placeholder="Content" th:text="${notification.content}" required></textarea>

      <button type="submit" class="button-add primary">Save Changes</button>
    </div>
  </form>
</div>
</body>
</html>