<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebMetaWave</title>
  <link rel="stylesheet" th:href="@{/style/Windows.css}">
  <link rel="stylesheet" th:href="@{/style/NewsWindow.css}">
</head>
<body>
<div class="container">
  <div class="head">
    <div class="head-center-area">
      <button class="back-btn" th:onclick="|window.location.href='@{/profile}';|">
        <img class="button-icon" th:src="@{/images/icons/fa-solid_arrow-up.svg}" alt="back">
      </button>

      <h1 class="userNumber">
        News
      </h1>

      <button class="back-btn" th:if="${isAdmin}" th:onclick="|window.location.href='@{/addNotification}';|">
        <img class="button-icon" th:src="@{/images/icons/zondicons_add-outline.svg}" alt="add">
      </button>
    </div>
  </div>

  <div class="main-info-container"
       style="display: flex; flex-direction: column; align-items: center; text-align: center; width: 95%;">

  <div th:each="notification : ${notifications}" style="width: 100%
">
    <button class="news" type="button"
              th:onclick="|window.location.href='@{/notifications/{id}(id=${notification.id})}';|">
        <span class="title-new" th:text="${notification.title}"></span>
        <br>
        <span class="content-new"
              th:text="${notification.content.length() > 25 ? notification.content.substring(0, 25) + '...' : notification.content}">
        </span>
      </button>
    </div>
  </div>
</div>
</body>
</html>
