<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Info - WebMetaWave</title>
    <link rel="stylesheet" th:href="@{/style/Windows.css}">
    <link rel="stylesheet" th:href="@{/style/NewsWindow.css}">
</head>
<body>
<div class="container">
    <div class="head">
        <div class="head-center-area">
            <button type="button" class="back-btn" th:onclick="|window.location.href='@{/notifications}';|">
                <img class="button-icon" th:src="@{/images/icons/fa-solid_arrow-up.svg}" alt="Back">
            </button>
            <h1 class="userNumber">News</h1>
        </div>
    </div>

    <div class="main-info-container">
        <div class="new-info">
            <div class="title-new" th:text="${notificationTitle}"></div>
            <div class="date-new" th:text="${notificationDate}"></div>
            <div class="content-new" th:text="${notificationContent}"></div>
        </div>

        <div class="admin-actions" th:if="${isAdmin}">
            <button type="button" class="button-func edit-btn"
                    th:onclick="|window.location.href='@{/editNotification/{notificationId}(notificationId=${notificationId})}';|">
                Edit
            </button>
            <button type="button" class="button-func delete-btn"
                    th:onclick="|window.location.href='@{/deleteNotification={notificationId}(notificationId=${notificationId})}';|">
                Delete
            </button>
        </div>
    </div>
</div>
</body>
</html>