<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebMetaWave</title>
  <link rel="stylesheet" th:href="@{/style/Windows.css}">
  <link rel="stylesheet" th:href="@{/style/LoginWindow.css}">
</head>
<body>
<form th:action="@{/newuser}" method="post">
  <div class="container">
    <h1 class="LableText">
      SIGN UP
    </h1>
    <input type="email" id="email" name="email" placeholder="EMAIL" th:value="${emailInput}" required>
    <input type="password" id="password" name="password"
           placeholder="PASSWORD (min 8 symbols)"
           required>
    <input type="password" id="passwordCheck" name="passwordCheck"
           placeholder="CONFIRM PASSWORD (min 8 symbols)"
           required>
    <button type="submit" class="neumorphic-button">SIGN UP</button>

    <p class="error-message" th:if="${emailError}">This email already exist!</p>
    <p class="error-message" th:if="${nullError}">Enter password!</p>
    <p class="error-message" th:if="${passwordLengthError}">Password must be longer than 8 symbols!</p>
    <p class="error-message" th:if="${passError}">Passwords isn't equals!</p>

    <a class="register" th:href="@{/login}">Back</a>
  </div>
</form>
</body>
</html>
