/* Подключаем современный шрифт */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

html, body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    color: #ffffff;
}

.container {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.transparent-button {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    outline: none;
    transition: opacity 0.2s;
}

.transparent-button:hover {
    opacity: 0.8;
}

summary::-webkit-details-marker {
    display: none;
}